name: Publish
on:
  release:
    types: [published]
permissions:
  id-token: write
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    environment: release
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.28"
          enable-cache: true
      - name: Build package
        run: uv build
      - name: Publish package to PyPI
        run: uv publish
